td {
	border-right: thin solid #DADCDD;
	border-bottom: thin solid #DADCDD;
}

table {
	border: thin hidden #DADCDD;
	text-align: center;
}

.th1 {
	border-top: thin solid #DADCDD;
	background-color: #F90;
}