.margin10px {
	margin: 10px;
}

.pointer {
	cursor: pointer;
}

a.btnClear {
	background: url(../images/bt_clear.gif) no-repeat;
	display: block;
	width: 10px;
	height: 10px;
	margin-top: 3px;
	overflow:hidden;
}

.red {
	color: red;
}

.ui-autocomplete-loading {
	background: white url("../images/ui-anim_basic_16x16.gif") right center
		no-repeat;
}